.root {
}
.login-page {
    -fx-background-image: url('../graphics/backGround/login.jpeg');
    -fx-background-size: cover, auto;
}
.title-page-image {
     -fx-background-image: url('../graphics/backGround/frontPage.jpeg');
     -fx-background-size: cover, auto;
}
.login-button {
    -fx-padding: 10px 30px; /* more horizontal padding */
    -fx-font-size: 1.3em;
    -fx-border-width: 5px;
    -fx-border-radius: 5px; /* rounded border */
    -fx-background-radius: 7px; /* rounded background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0.2, 2, 2);
    -fx-cursor: hand;
    -fx-background-color: #eaeaea;
}
.h2 {
    -fx-font-size: 3em;
}

.h4 {
    -fx-font-size: 2em;
}

.h5 {
    -fx-font-size: 1.5em;
}

.h6 {
    -fx-font-size: 1.2em;
}

.nickname-input {
    -fx-font-size: 1.3em;
}
.nickname-label {
    -fx-font-size: 2em;
    -fx-text-fill: #5C3317;
    -fx-font-weight: bold;
}

.boardTable {
    -fx-background-image: url('../graphics/backGround/boardTable.jpg');
    -fx-background-size: cover, auto;
}.plateau {
    -fx-background-image: url('../graphics/board/plateau.png');
    -fx-background-size: cover, auto;
}
.tooltip {
    -fx-font-size: 1.2em;
    -fx-border-radius: 0.3em;
    -fx-background-color: #F2E5BC; /* This is a parchment-like color */
    -fx-text-fill: #000; /* Black color for the text */
    -fx-max-width: 400px;
    -fx-wrap-text: true;
}
.lastTurn{
    -fx-font-size: 1.2em;
    -fx-border-radius: 0.3em;
    -fx-background-color: #F2E5BC; /* This is a parchment-like color */
    -fx-text-fill: #000; /* Black color for the text */
    -fx-max-width: 400px;
    -fx-wrap-text: true;
    -fx-font-weight: bold;
}
.selectable:hover{
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}
.bold{
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFFEE;
    -fx-font-size: 1.5em;
}
.baseSelectable{
    -fx-effect: dropshadow(gaussian, black, 20.0, 0, 0, 0);
}
.selected-image {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 0.8), 20, 0.5, 0, 0);
}
.play {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.5), 10, 0.1, 0, 0);
}
.login-container {
    -fx-background-color: #FFFFFFEE;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}
.footer {
    -fx-background-color: #FFFFFFEE;
}
.transparent {
    -fx-background: transparent;
    -fx-background-color: transparent;
}
.EndGameBackGround {
    -fx-font-size: 1.2em;
    -fx-background-image:url('../graphics/cards/back_91.png');
    -fx-background-size: cover, auto;
}
.TestBoardCard {
    -fx-font-size: 1.2em;
    -fx-background-image: url('../graphics/cards/back_0.png');
    -fx-background-size: cover, auto;
}
#EndGameContainer {
    -fx-font-size: 1.2em;
    -fx-background-image: url('../graphics/cards/back_91.png');
    -fx-background-size: cover, auto;
}

.rankingContainer {
    -fx-background-color: #F2E5BC;
    -fx-text-fill: #FFFFFFEE;
}

.rankingContainer .label{
    -fx-text-fill: #827a2d;
    -fx-text-transform: italic;
}

.EndGameContainer .button{
    -fx-text-fill: #827a2d;
    -fx-text-transform: italic;
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 0.4em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.1em;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}

#rankingTable {
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 0.1em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.5em;
    -fx-text-fill: #FFFFFFEE;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}

#titleEndGame {
    -fx-text-fill: #5C3317;
    -fx-text-transform: italic;
    -fx-background-color: #F2E5BC;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.1em;
    -fx-padding: 0.5em;
    -fx-border-radius: 0.1em;
    -fx-background-radius: 0.4em;
    -fx-background-insets: 0;
}

.rankingContainer .nickname_LBL{
    -fx-text-fill: black;
}

.rankingContainer .nickname_LBL {
    -fx-text-fill: black;
}
.rankingContainer .pointsLBL {
    -fx-text-fill: #5C3317;
}
.helper-wood-sign {
    //immagine tabellone di fine gioco con natura
    -fx-background-size: contain, auto;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#leaderboardTable {
    -fx-background-color: #F2E5BC;
    -fx-background-radius: 1em;
    -fx-border-color: #5C3317;
    -fx-border-width: 0.5em;
    -fx-text-fill: #FFFFFFEE;
    -fx-border-radius: 0.1em;
    -fx-background-insets: 0;
}
#leaderboardTable .table-column {
    -fx-text-alignment: center;
    -fx-background-color: F2E5BC;
    -fx-alignment: center;
    -fx-border-color: transparent;
    -fx-font-size: 1.5em;
}

#leaderboardTable .table-column-header {
    -fx-text-alignment: center;
    -fx-background-color: F2E5BC;
    -fx-alignment: center;

}

.table-view .column-header-background {
    -fx-background-color: #5C3317; /* Set the desired header color */
    -fx-padding: 5px;
    -fx-alignment: CENTER;
}

.table-view .column-header {
    -fx-text-fill: white; /* Set the text color of the header */
    -fx-font-size: 2em;
}

.table-view .table-cell{
    -fx-alignment: CENTER;
    -fx-font-size: 1.5em;
}
